$board-width: 100vw;
$board-height: 100vh;
$item-width: $board-width/11;
$item-height: $board-height/11;

div.board {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    width: $board-width;
    height: $board-height;
}

div.item {
    padding: 0.05em;
    width: $item-width;
    height: $item-height;
}

div.column {
    height: $item-height * 10;
    display: flex;
    flex-flow: column;
}
