<div class="board" *ngIf="squares">
        <div class="column">
            <div class="square">
                <div class="piece-container" attr.data-index="{{0}}" #square></div>
                <property [value]="squares[0]" #prop></property>
            </div>
            <div class="square" *ngFor="let n of rangeRight(31,40)">
                <div class="piece-container" attr.data-index="{{n}}" #square></div>
                <property [value]="squares[n]" #prop></property>
            </div>
        </div>
        <div class="square" *ngFor="let n of range(1,10)">
            <div class="piece-container" attr.data-index="{{n}}" #square></div>
            <property [value]="squares[n]" #prop></property>
        </div>
        <div class="column">
            <div class="square" *ngFor="let n of range(10,20)">
                <div class="piece-container" attr.data-index="{{n}}" #square></div>
                <property [value]="squares[n]" #prop></property>
            </div>
        </div>
        <div class="square" *ngFor="let n of rangeRight(20,31)">
            <div class="piece-container" attr.data-index="{{n}}" #square></div>
            <property [value]="squares[n]" #prop></property>
        </div>
</div>
