@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,900|Roboto:100,300,500,700,900|Archivo+Black);
/*
Alts:
@import url('https://fonts.googleapis.com/css?family=Anton||Paytone+One|Bowlby+One+SC|Fascinate|Fascinate+Inline');
*/

/* You can add global styles to this file, and also import other style files */
html {
    width: 100vw;
    height: 100vh;
    font-family: Roboto !important;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    background-color: #333;
    color: #ddd;
    overflow: hidden;
}

input.form-control {
    color: #ddd;
    background-color: #777;
    border: 1px solid #555;

    &::placeholder {
        color: white;
        opacity: 0.3;
    }
}

a, a:hover {
    color: #fddb1d;
}

span.alias {
}

span.account {
    color: orange;
    padding-left: 0.5em;
    font-size: 0.8em;

    &::before {
        content: "#";
    }
}
