<div class="player-name">
    <div class="player-marker" [ngStyle]="{'background': data.player.color}" *ngIf="data.player"></div>
    {{ data.username }}
</div>
<div class="player-info">
    ${{ balance }}
</div>
<div class="player-info">
    <div class="prop" *ngFor="let property of properties">
        <div class="contents">
            <a routerLink="" (mouseenter)="showProperty(property)">{{ property.name }}</a>
            <div class="color {{property.color}}"></div>
        </div>
    </div>
</div>
<div class="transaction-form">
    <div *ngIf="gameStatus == 'move'" >
        <div class="form-group col-lg-12">
            <button class="btn btn-primary" (click)="roll()">Roll</button>
        </div>
    </div>
    <div *ngIf="myTurn && gameStatus == 'wait'">
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.target" placeholder="Transferir para">
        </div>
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.value" placeholder="Valor">
        </div>
        <div class="form-group col-lg-12">
            <button class="btn btn-success" (click)="transfer()">Transferir</button>
            <button class="btn btn-warning" (click)="decline()">Ignorar</button>
            <button class="btn btn-primary" (click)="commit()">Continuar</button>
        </div>
    </div>
</div>
<notification-panel #errorDialog>
    {{ errorMessage }}
</notification-panel>
