<div>
    <div style="height: 1em; width: 1em; display: inline-block; margin-right: 1em" [ngStyle]="{'background': data.player.color}" *ngIf="data.player"></div>
    {{ data.username }}
</div>
<div>
    Seu saldo: ${{ balance }}
</div>
<div>
    Suas propriedades:
    <ul>
        <li *ngFor="let property of properties"> {{ property.name }} </li>
    </ul>
</div>
<div>
    <div *ngIf="gameStatus == 'move'" >
        <button class="btn btn-primary" (click)="roll()">Roll</button>
    </div>
    <div *ngIf="myTurn && gameStatus == 'wait'">
        <button class="btn btn-success" (click)="commit()">Commit</button>
    </div>
</div>
