<div class="list-title">Jogador</div>
<div class="player-name">
    <div class="player-marker" [ngStyle]="{'background': data.player.color}" *ngIf="data.player"></div>
    {{ data.username }}
</div>
<div class="player-info">
    Seu saldo: ${{ balance }}
</div>
<div class="player-info">
    Suas propriedades:
    <ul>
        <li *ngFor="let property of properties"> {{ property.name }} </li>
    </ul>
</div>
<div>
    <div *ngIf="gameStatus == 'move'" >
        <button class="btn btn-primary" (click)="roll()">Roll</button>
    </div>
    <div *ngIf="myTurn && gameStatus == 'wait'">
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.target" placeholder="Transferir para">
        </div>
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.value" placeholder="Valor">
        </div>
        <div class="form-group col-lg-12">
            <button class="btn btn-success" (click)="transfer()">Transferir</button>
            <button class="btn btn-warning" (click)="cancel()">Ignorar</button>
            <button class="btn btn-primary" (click)="commit()">Continuar</button>
        </div>
    </div>
</div>
<notification-panel #errorDialog>
    {{ errorMessage }}
</notification-panel>
