<div class="header">
    <h1>{{ data.username }}</h1>
    <h2>${{ balance }}</h2>
</div>

<div class="contents">
    <h1>Rents due</h1>
    <table mat-table [dataSource]="pending.rent">
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let r"> {{ r.src.alias }} </td>
      </ng-container>
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let r"> {{ r.dst.alias }} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let r"> {{ r.value }} </td>
      </ng-container>
      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Property </th>
        <td mat-cell *matCellDef="let r"> {{ r.property.name }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['from', 'to', 'value', 'property']"></tr>
      <tr mat-row *matRowDef="let r; columns: ['from', 'to', 'value', 'property'];"
          [ngClass]="{'highlight': r.src.account==gameService.getAddress() }"></tr>
    </table>
    <h1>Offers pending</h1>
    <table mat-table [dataSource]="pending.offer">
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let r"> {{ r.to.alias }} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let r"> {{ r.value }} </td>
      </ng-container>
      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Property </th>
        <td mat-cell *matCellDef="let r"> {{ r.property.name }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['to', 'value', 'property']"></tr>
      <tr mat-row *matRowDef="let r; columns: ['to', 'value', 'property'];"
          [ngClass]="{'highlight': r.to.account==gameService.getAddress() }"></tr>
  </table>
</div>

<!-- <div class="player-name">
    <div class="player-marker" [ngStyle]="{'background': data.player.color}" *ngIf="data.player"></div>
    {{ data.username }}
</div>
<div class="player-info">
    ${{ balance }}
</div>
<div class="player-info">
    <div class="prop" *ngFor="let property of properties">
        <div class="contents">
            <a routerLink="" (mouseenter)="showProperty(property)">{{ property.name }}</a>
            <div class="color {{property.color}}"></div>
        </div>
    </div>
</div>
<div class="transaction-form">
    <div *ngIf="gameStatus == 'move'" >
        <div class="form-group col-lg-12">
            <button class="btn btn-primary" (click)="roll()">Roll</button>
        </div>
    </div>
    <div *ngIf="myTurn && gameStatus == 'wait'">
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.target" placeholder="Transferir para">
        </div>
        <div class="form-group col-lg-12">
            <input class="form-control" type="text" [(ngModel)]="transaction.value" placeholder="Valor">
        </div>
        <div class="form-group col-lg-12">
            <button class="btn btn-success" (click)="transfer()">Transferir</button>
            <button class="btn btn-warning" (click)="decline()">Ignorar</button>
            <button class="btn btn-primary" (click)="commit()">Continuar</button>
        </div>
    </div>
</div>
 -->
