<div class="container">
    <mat-sidenav-container class="sidenav-container" fullscreen>
      <mat-sidenav mode="push" class="sidenav-menu" #sidenav>
        <ul>
            <li><a routerLink="/dashboard" (click)="sideNav.close()"><mat-icon>account_circle</mat-icon> Dashboard</a></li>
            <li><a routerLink="/assets" (click)="sideNav.close()"><mat-icon>location_city</mat-icon> Assets</a></li>
            <li><a routerLink="/transfers" (click)="sideNav.close()"><mat-icon>transform</mat-icon> Transfers</a></li>
            <li><a routerLink="/map" (click)="sideNav.close()"><mat-icon>place</mat-icon> Map</a></li>
            <li><a routerLink="/stats" (click)="sideNav.close()"><mat-icon>pie_chart</mat-icon> Stats</a></li>
            <li><a routerLink="/leave" (click)="sideNav.close()"><mat-icon>exit_to_app</mat-icon> Leave game</a></li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <span class="menu-button" (click)="openSidenav()"><mat-icon>menu</mat-icon></span>

          <!-- This fills the remaining space of the current row -->
          <span class="application-title">Chainopoly</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
