$vert-margin: 100vh / 11;
$horz-margin: 100vw / 11;

div.frame {
    position: absolute;
    left: $horz-margin;
    top: $vert-margin;
    right: $horz-margin;
    bottom: $vert-margin;
    margin: 2em;
}

div.container {
    height: 100%;
}

div.title {
    height: 3em;
}

div.body {
    height: 100%;
    margin-top: -3em;
    padding-top: 3em;
}
