$vert-margin: 100vh / 11;
$horz-margin: 100vw / 11;

div.frame {
    position: absolute;
    left: $horz-margin;
    top: $vert-margin;
    right: $horz-margin;
    bottom: $vert-margin;
    margin: 2em;
}

div.container {
}
