<!-- <div class="frame">
    <div class="container">
        <div class="row title">
            <div class="col-lg-12">
              <h1>Chainopoly</h1>
            </div>
        </div>
        <div class="row body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
 -->
<div class="container">
    <mat-toolbar color="primary">
      <span><mat-icon>menu</mat-icon></span>

      <!-- This fills the remaining space of the current row -->
      <span class="application-title">Chainopoly</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
