@import "../../_variables.scss";

.date {
    font-size: 0.8em;
}

.value {
    text-align: right;
}

section.warning {
    color: $warn;
    text-align: center;
}

div.button-input {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
}

div.property {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    color: #999999;

    div {
        &:first-child { margin-right: 0.5em; }
        flex: 0 1 auto;
    }
}
