<app-userheader></app-userheader>

<div class="contents">
    <h2>Income/expense estimates</h2>
    <table mat-table [dataSource]="estimates">
      <ng-container matColumnDef="variable">
        <th mat-header-cell *matHeaderCellDef> Variable </th>
        <td mat-cell *matCellDef="let r"> {{ r.title }} </td>
      </ng-container>
      <ng-container matColumnDef="expected">
        <th mat-header-cell *matHeaderCellDef> Expected </th>
        <td mat-cell *matCellDef="let r"> {{ r.expected }} </td>
      </ng-container>
      <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef> Max </th>
        <td mat-cell *matCellDef="let r"> {{ r.max }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['variable', 'max', 'expected']"></tr>
      <tr mat-row *matRowDef="let r; columns: ['variable', 'max', 'expected'];"></tr>
    </table>
    <h2>Next offers</h2>
    <table mat-table [dataSource]="offers">
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let r"> <div class="color-bubble" [ngClass]="r.color"></div> </td>
      </ng-container>
      <ng-container matColumnDef="prob">
        <th mat-header-cell *matHeaderCellDef> Probability </th>
        <td mat-cell *matCellDef="let r"> {{ r.prob }} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Avg price </th>
        <td mat-cell *matCellDef="let r"> {{ r.price }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['color', 'prob', 'price']"></tr>
      <tr mat-row *matRowDef="let r; columns: ['color', 'prob', 'price'];"></tr>
    </table>
    <h2>Ranking</h2>
    <table mat-table [dataSource]="ranking">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Pos </th>
        <td mat-cell *matCellDef="let r"> {{ r.pos }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let r"> {{ r.alias }} </td>
      </ng-container>
      <ng-container matColumnDef="net">
        <th mat-header-cell *matHeaderCellDef> Net Worth </th>
        <td mat-cell *matCellDef="let r"> {{ r.net_worth }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['position', 'name', 'net']"></tr>
      <tr mat-row *matRowDef="let r; columns: ['position', 'name', 'net'];"></tr>
    </table>
</div>
