<div class="map-view">
    <div [style.zoom]="zoomLevel">
        <img src="/assets/map.png" #map>
        <div class="marker" *ngFor="let p of properties" [style.top]="(p.geo.y * 2672 - 50) + 'px'" [style.left]="(p.geo.x * 1503) + 'px'">
            <app-marker [color]="p.color"></app-marker>
        </div>

    </div>
</div>
<div class="buttons">
    <button mat-fab color="accent" (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
    &nbsp;
    <button mat-fab color="accent" (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
</div>
