<app-userheader></app-userheader>

<div class="contents">
    <table mat-table [dataSource]="properties">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let p"> <div (click)="showCard(p)">{{ p.name }}</div> </td>
      </ng-container>
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let p"> <div class="color-bubble" [ngClass]="p.color"></div> </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let p"> {{ p.price }} </td>
      </ng-container>
      <ng-container matColumnDef="rent">
        <th mat-header-cell *matHeaderCellDef> Rent </th>
        <td mat-cell *matCellDef="let p"> {{ p.rent }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'color', 'price', 'rent']"></tr>
      <tr mat-row *matRowDef="let p; columns: ['name', 'color', 'price', 'rent'];"></tr>
    </table>
</div>
