mat-form-field {
    width: 100%;

    &.account {
        font-size: 0.8em;
        color: orange;
    }
}

div.contents {
    margin: 2em 1em 0;
}

div.playerCount {
    font-size: 0.8;
    opacity: 0.8;
    text-align: center;
}
