<div class="row">
    <div class="form-group col-lg-12">
        <span class="account big">{{data.account}}</span>
    </div>
    <div class="form-group col-lg-12">
        <input class="form-control" type="text" [(ngModel)]="data.username" placeholder="Preencha seu nome" (ngModelChange)="saveUsername()">
    </div>
    <div class="form-group col-lg-12">
        <div>Escolha um jogo para participar:</div>
        <div *ngIf="!games || games.length == 0" class="nogames">Não há jogos ativos</div>
        <ul>
            <li *ngFor="let game of games">
                <a routerLink="" [class.disabled]="isEmpty(data.username)" (click)="goToGame(game.id)">{{game.title}}</a> ({{game.players}} jogadores)
            </li>
        </ul>
        <div>
            <a routerLink="" [class.disabled]="isEmpty(data.username)" (click)="createGame()">Ou crie o seu</a>
        </div>
    </div>
</div>
